span {
    font-family: 'Send Flowers', sans-serif;
}

h1 {
    text-align: center;
    background-color: #31748F;
}

h2 {
    text-align: center;
}

body {
    font-family: 'RocknRoll', sans-serif;
    background-color: #9CCFD8;
    color: #59546D;
}

header {
    color: white;
}

footer {
    color: white;
}

img {
    opacity: 50%;
    position: relative;
}

ul {
    text-align: center;
    list-style-type: none;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "album1 sidebar"
        "album2 sidebar"
        "album3 sidebar"
        "album4 sidebar"
        "footer footer"
}

.sidebar {
    grid-area: sidebar;
    background-color: #E0def4;
}
.album1 {
    grid-area: album1;
}

.album2 {
    grid-area: album2;
}

.album3 {
    grid-area: album3;
}

.album4 {
    grid-area: album4;
}

footer {
    background-color: #31748F;
    text-align: center;
    margin-top: 50px;
}

@media only screen and (min-width:640px) {
    .container {
        display: flex;
        justify-content: space-around;
    }

    footer {
        float: inline-end;
    }

}
